%h1 
  Lists
  %a.btn.btn-primary{ :title => 'New List', :href => "#myModal", :role => "button", "data-toggle" => "modal" }
    %i{ :class => "icon-plus-sign icon-white" }
%table{ :class => "table table-striped" }
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
  - @lists.each do |list|
    %tr
      %td= list.name
      %td= link_to 'Show', list
      %td= link_to 'Edit', edit_list_path(list)
      %td= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }
= render "new"
