%h1
  = @list.name
  Items
  %a.btn.btn-primary{ :title => 'New Item', :href => "#newItem", :role => "button", "data-toggle" => "modal" }
    %i.icon-plus-sign.icon-white
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th
      %th
      %th
  %tbody
  - @items.each do |item|
    %tr
      %td= item.name
      %td= link_to 'Show', item
      %td= link_to 'Edit', edit_item_path(item)
      %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }      
= render 'new'
