!!! 5
%html
  %head
    %title Lister
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #content.container
      .navbar.navbar-inverse
        .navbar-inner
          .container
            = render_crumbs format: :html_list, :ul_class => "nav"
      = yield
